; packages

[submodule "packages_wechaty/puppet-service"]
	path = packages_wechaty/puppet-service
	url = ./packages_wechaty/puppet-service

[submodule "packages_wechaty/grpc"]
	path = packages_wechaty/grpc
	url = ./packages_wechaty/grpc

; plugins

[submodule "exts_chrome_chatbot-exporter"]
	path = plugins/exts_chrome_chatbot-exporter
	url = git@github.com:cs-magic/exts_chrome_chatbot-exporter.git
	branch = main

[submodule "exts_chrome_claude-artifact-enhancer"]
    path = plugins/exts_chrome_claude-artifact-enhancer
	url = git@github.com:cs-magic/exts_chrome_claude-artifact-enhancer.git
	branch = main


; apps
[submodule "screensaver"]
	path = apps/screensaver
	url = git@github.com:cs-magic/app_screensaver.git
	branch = main

[submodule "wechat-dbcracker"]
	path = apps/wechat-dbcracker
	url = git@github.com:MarkShawn2020/wechat-dbcracker.git
	branch = main

[submodule "eval-ai"]
	path = apps/eval-ai
	url = git@github.com:cs-magic/eval-ai.git
	branch = main

[submodule "apps/totem-gpt"]
	path = apps/totem-gpt
	url = git@github.com:cs-magic/totem-gpt-web.git

[submodule "apps/playground"]
	path = apps/playground
	url = git@github.com:cs-magic/playgrounds.git


[submodule "apps/neurora-assistant"]
	path = apps/neurora-assistant
	url = git@github.com:cs-magic/neurora-assistant.git

[submodule "apps/wechat-dbcracker"]
	path = apps/wechat-dbcracker
	url = git@github.com:cs-magic/wechat-dbcracker.git

[submodule "apps/neurora-home"]
	path = apps/neurora-home
	url = git@github.com:cs-magic/neurora-home.git

[submodule "apps/neurora-playground"]
	path = apps/neurora-playground
	url = git@github.com:cs-magic/neurora-playground.git

[submodule "apps/poketto"]
	path = apps/poketto
	url = git@github.com:cs-magic/poketto.git

; cases
[submodule "cases/zhijikeji"]
	path = cases/zhijikeji
	url = git@github.com:cs-magic/cases_zhijikeji.git
