[submodule "packages/homepage"]
	path = app-home/web
	url = git@github.com/cs-magic/cs-magic.git
[submodule "packages/eval-ai"]
	path = app-eval-ai/web
    url = git@github.com:cs-magic/eval-ai.git
[submodule "app-poketto/web"]
	path = app-poketto/web
	url = git@github.com/cs-magic/poketto.git
