.st0{fill:#FFB1A9;}
.st1{fill:#FFA1A8;}
.st2{fill:#FF93A6;}
.st3{fill:#FF86A4;}
.st4{fill:#FF71A1;}
.st5{fill:#FF58A2;}
.st6{fill:#F6428F;}
.st7{fill:#FFFFFF;}
.st8{fill:#03C9F3;}
.st9{fill:#C84792;}
.st10{fill:#18B1FA;}
.st11{fill:#138FF5;}
.st12{fill:#0893D9;}
.st13{fill:#9F4291;}
.st14{fill:#5062E0;}
.st15{fill:#762B79;}
.st16{fill:#0374E6;}
.st17{fill:#5E1E6A;}
.st18{fill:#B72E80;}
.st19{fill:#9B2A7B;}
.st20{fill:#4F1562;}
.st21{fill:#350B56;}
