.st0{fill:#762B79;}
.st1{fill:#9B2A7B;}
.st2{fill:#0CE6DF;}
.st3{fill:#03E3E8;}
.st4{fill:#04D4F1;}
.st5{fill:#03C9F3;}
.st6{fill:#FFA1A8;}
.st7{fill:#F6428F;}
.st8{fill:#FFFFFF;}
.st9{fill:#0893D9;}
.st10{fill:#18B1FA;}
.st11{fill:#B72E80;}
.st12{fill:#FF93A6;}
.st13{fill:#01B5EF;}
.st14{fill:#F8FFFF;}
.st15{fill:#918AE7;}
.st16{fill:#FF71A1;}
.st17{fill:#729CF7;}
.st18{fill:#EAF9FF;}
.st19{fill:#C84792;}
.st20{fill:#FF58A2;}
.st21{fill:#138FF5;}
.st22{fill:#AE77CD;}
.st23{fill:#0374E6;}
.st24{fill:#136FB7;}
.st25{fill:#C363B2;}
.st26{fill:#1C579C;}
.st27{fill:#253E80;}
.st28{fill:#252A6D;}
.st29{fill:#350B56;}
.st30{fill:#5E1E6A;}
.st31{fill:#422A73;}
