@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
        --wechat: 118 99% 35%;

        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        /*--primary: 222.2 47.4% 11.2%;*/
        --primary: 150 19% 10%;
        /*--primary-foreground: 210 40% 98%;*/
        /* pink-500 （粉）*/
        --primary-foreground: 330 81% 60%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        /*--primary-foreground: 222.2 47.4% 11.2%;*/
        /* pink-500 （粉）*/
        --primary-foreground: 330 81% 60%;

        --secondary: 217.2 32.6% 17.5%;
        /*--secondary-foreground: 210 40% 98%;*/
        /* indigo-500 (蓝)*/
        --secondary-foreground: 239 84% 67%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .center {
        @apply flex items-center justify-center;
    }


    .interactive {
        @apply hover:bg-accent;
    }

    .primary-gradient {
        @apply bg-gradient-to-r from-pink-500 via-purple-500 to-indigo-500 text-transparent bg-clip-text
        /* for tv */
        /*@apply bg-gradient-to-r from-red-200 via-purple-500 to-indigo-500 text-transparent bg-clip-text*/
    }

}

main {
    height: 100vh;
    /*height: -webkit-fill-available;*/
    max-height: var(--app-height);
    /* NOTE: 不能用这个，会导致初始屏幕不占满*/
    /*height: var(--app-height);*/
}



/*
自定义遮罩层样式，父级元素加 relative，该元素加 absolute
ref: https://chat.openai.com/c/91b8bb72-01f9-49d8-8a4f-19a92adabd33
*/
.darken-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2); /* 黑色遮罩，透明度为50% */
    /*background-color: rgba(255, 255, 255, 0.05); !* 黑色遮罩，透明度为50% *!*/
    z-index: -10;
}


/* https://chat.openai.com/c/12c4286c-6a22-4ddd-a031-cea2fa7990e2 */
@keyframes blink {
    0%, 49% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}

.cursor {
    @apply inline-block w-[2px] h-5 bg-gray-300;
    animation: blink 1s infinite;
}
