
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}


main {
    width: 100vw;

    height: 100vh;
    /*height: -webkit-fill-available;*/
    max-height: var(--app-height);
    /* NOTE: 不能用这个，会导致初始屏幕不占满*/
    /*height: var(--app-height);*/
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background-image: url('../others/wavy-lines.svg');
    background-size: cover;
    user-select: none;

    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    line-height: 1.6;
    font-family: Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
}

code {
    font-weight: 600;
    padding: 3px 5px;
    border-radius: 2px;
    background-color: var(--color-background-mute);
    font-family: ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
    font-size: 85%;
}

ul {
    list-style: none;
}

svg {
    /*@apply cursor-pointer;*/
    /*hocus:scale-125;*/
}


@media (max-width: 720px) {
    .text {
        font-size: 20px;
    }
}

@media (max-width: 620px) {
    .versions {
        display: none;
    }
}

@media (max-width: 350px) {
    .tip,
    .actions {
        display: none;
    }
}
